In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
summary = pd.read_csv('data/atussum_2014.dat')

In [3]:
summary.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181601,t181699,t181801,t181899,t189999,t500101,t500103,t500105,t500106,t500107
0,20140101140007,4891315.826760,0,20,2,39,1,1,1,4,...,0,0,0,0,0,0,0,0,0,0
1,20140101140011,23147368.359655,16,16,2,37,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20140101140028,20941823.429044,2,65,2,38,1,1,1,5,...,0,0,0,0,0,0,0,0,0,0
3,20140101140063,2505899.417166,-1,50,2,39,2,2,2,5,...,0,0,0,0,0,0,0,0,0,0
4,20140101140168,15928231.823165,8,23,2,39,2,2,2,4,...,0,0,0,0,0,0,0,0,0,0

In [4]:
hockey = summary[summary.t130216 > 0]
data = hockey.corr()
data.t110101.order(ascending=False).head()

t110101    1.000000
t180301    0.637814
t070103    0.630845
t180703    0.630845
t181204    0.630845
Name: t110101, dtype: float64

In [5]:
print(hockey.TELFS)
print(hockey.TEAGE)
print(hockey.TRSPPRES)
print(hockey.TESEX)
print(hockey.TRYHHCHILD)

698      5
1072     1
4631     5
4638     1
8152     1
9691     5
10712    1
11001    1
11522    1
Name: TELFS, dtype: int64
698      69
1072     35
4631     43
4638     36
8152     46
9691     18
10712    38
11001    36
11522    28
Name: TEAGE, dtype: int64
698      3
1072     1
4631     1
4638     2
8152     1
9691     3
10712    1
11001    1
11522    1
Name: TRSPPRES, dtype: int64
698      2
1072     2
4631     2
4638     2
8152     2
9691     2
10712    1
11001    2
11522    2
Name: TESEX, dtype: int64
698      -1
1072      8
4631      8
4638     -1
8152     10
9691     10
10712     8
11001    11
11522    -1
Name: TRYHHCHILD, dtype: int64

# Hockey 

* The first bit of data examined was respondents who had reported watching any amount of hockey on their day.  Unfortunately there were only 9 such people in the entire database so the data isn't very relevant but there were some interesting trends.
    1. 8 out of 9 repondents who watched a hockey game were female, despite the viewership of the sport being percieved largely as male.
    1. There were hockey fans in just about every age bracket, but a full third had a younger child (aged 8-11) in the household.
    1. Besides travel the most corralated point of data with watching hockey was purchasing food (not groceries) which makes some sense as either arena food or watching in a bar.

In [44]:
over_20 = summary[summary.TEAGE > 20]
twenties = over_20[over_20.TEAGE < 30]
twenty_m = twenties[twenties.TESEX == 1]
twm = twenty_m.corr()
twm = twm[twm < 1]

In [45]:
print(len(twm))
twm.head()

409

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181601,t181699,t181801,t181899,t189999,t500101,t500103,t500105,t500106,t500107
tucaseid,NaN,-0.015930,0.086490,-0.035220,NaN,0.081040,0.015251,0.009159,0.042464,0.012483,...,-0.008988,NaN,NaN,NaN,-0.001611,-0.054897,-0.028893,0.008962,-0.118765,-0.071316
TUFINLWGT,-0.01593,NaN,-0.071016,-0.227233,NaN,-0.109849,-0.029582,0.031392,-0.066650,0.050454,...,0.045455,NaN,NaN,NaN,-0.051565,0.015956,-0.009278,0.036230,-0.051430,-0.018496
TRYHHCHILD,0.08649,-0.071016,NaN,-0.162733,NaN,-0.169799,0.044668,-0.070935,0.068022,0.094115,...,-0.031629,NaN,NaN,NaN,-0.049570,0.032878,-0.032125,-0.018713,-0.061402,-0.022325
TEAGE,-0.03522,-0.227233,-0.162733,NaN,NaN,0.212374,-0.055043,0.138731,0.046773,-0.115876,...,0.021423,NaN,NaN,NaN,-0.059306,0.009098,-0.015770,-0.057432,0.067564,-0.011856
TESEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
corr_list = []
for thing in twm:
    corr_list.append((twm[thing].max(), thing))

In [47]:
corr_list

[(0.14691964609915156, 'tucaseid'),
 (0.19489395218118585, 'TUFINLWGT'),
 (0.47122572538561186, 'TRYHHCHILD'),
 (0.27807501456483341, 'TEAGE'),
 (nan, 'TESEX'),
 (0.34158929793014631, 'PEEDUCA'),
 (0.2366688918005195, 'PTDTRACE'),
 (0.23117394243660372, 'PEHSPNON'),
 (0.21527998945286347, 'GTMETSTA'),
 (0.2850486967557273, 'TELFS'),
 (0.90143121040042462, 'TEMJOT'),
 (0.90143121040042462, 'TRDPFTPT'),
 (0.26111392946280076, 'TESCHENR'),
 (0.43295307026439261, 'TESCHLVL'),
 (0.18026868078346112, 'TRSPPRES'),
 (0.54829041247097188, 'TESPEMPNOT'),
 (0.51916004622805834, 'TRERNWA'),
 (0.51692483566396241, 'TRCHILDNUM'),
 (0.54829041247097188, 'TRSPFTPT'),
 (0.68493545171119119, 'TEHRUSLT'),
 (0.14661994086183328, 'TUDIARYDAY'),
 (0.38058062219104272, 'TRHOLIDAY'),
 (0.88856597424635053, 'TRTEC'),
 (0.51692483566396241, 'TRTHH'),
 (0.15384029646038774, 't010101'),
 (0.45144493117483575, 't010102'),
 (0.18710773627227797, 't010201'),
 (0.11533364837652321, 't010299'),
 (0.36911867780105512, 't010301'),
 (nan, 't010399'),
 (0.1670644057375395, 't010401'),
 (nan, 't010501'),
 (nan, 't019999'),
 (0.1411236450503825, 't020101'),
 (0.5845167057138948, 't020102'),
 (0.85700977567315062, 't020103'),
 (0.44106267179870262, 't020104'),
 (0.37808045362934595, 't020199'),
 (0.33770146888610747, 't020201'),
 (0.41988434859699375, 't020202'),
 (0.33770146888610747, 't020203'),
 (0.29909368851358376, 't020301'),
 (0.29207837629117267, 't020302'),
 (0.14543076941817645, 't020303'),
 (nan, 't020399'),
 (0.4085890448287387, 't020401'),
 (0.84390920200351716, 't020402'),
 (nan, 't020499'),
 (0.40052408966257613, 't020501'),
 (0.13846851097934917, 't020502'),
 (nan, 't020599'),
 (0.49758690915220022, 't020601'),
 (0.5308863188175621, 't020602'),
 (nan, 't020699'),
 (0.16898147057892826, 't020701'),
 (nan, 't020799'),
 (0.42293502029228408, 't020801'),
 (0.49758690915220022, 't020901'),
 (0.39876642478830709, 't020902'),
 (0.84390920200351716, 't020903'),
 (0.52524834442161927, 't020904'),
 (0.89011223715804966, 't020905'),
 (nan, 't020999'),
 (nan, 't029999'),
 (0.43620147722366015, 't030101'),
 (0.31392921190398521, 't030102'),
 (0.46408067107801254, 't030103'),
 (nan, 't030104'),
 (0.17490368987382005, 't030105'),
 (0.43525024730436851, 't030106'),
 (0.64158084839033258, 't030108'),
 (0.57714592919892171, 't030109'),
 (0.48442575866562387, 't030110'),
 (0.74225016636165841, 't030111'),
 (0.72148131791656156, 't030112'),
 (0.21253481288849185, 't030199'),
 (0.9123896723906747, 't030201'),
 (nan, 't030202'),
 (nan, 't030203'),
 (nan, 't030299'),
 (0.57714592919892171, 't030301'),
 (nan, 't030302'),
 (nan, 't030303'),
 (nan, 't030399'),
 (nan, 't030401'),
 (nan, 't030402'),
 (0.96148209179665289, 't030403'),
 (0.45144493117483575, 't030404'),
 (0.45144493117483564, 't030405'),
 (nan, 't030499'),
 (0.20122934742977791, 't030501'),
 (nan, 't030502'),
 (0.75351547012313502, 't030503'),
 (0.55892743506534581, 't030504'),
 (0.88856597424635053, 't030599'),
 (nan, 't039999'),
 (0.55303832448046919, 't040101'),
 (nan, 't040102'),
 (0.71307180324041752, 't040103'),
 (nan, 't040104'),
 (nan, 't040105'),
 (nan, 't040106'),
 (nan, 't040108'),
 (0.24260558381616223, 't040109'),
 (0.48922362463164487, 't040110'),
 (nan, 't040111'),
 (0.70708900616732839, 't040112'),
 (0.89011223715804966, 't040199'),
 (0.16828622283485067, 't040201'),
 (nan, 't040203'),
 (nan, 't040301'),
 (nan, 't040302'),
 (nan, 't040303'),
 (0.96148209179666078, 't040401'),
 (0.9123896723906747, 't040402'),
 (0.96148209179666078, 't040403'),
 (nan, 't040404'),
 (0.98125201707742526, 't040405'),
 (0.12076529055750762, 't040501'),
 (0.19825726204150274, 't040502'),
 (0.74225016636165841, 't040503'),
 (0.20087555409858529, 't040504'),
 (nan, 't040505'),
 (0.33312498805426355, 't040506'),
 (0.66671593869123136, 't040507'),
 (0.50229586711135643, 't040508'),
 (0.27292069793186202, 't040599'),
 (nan, 't049999'),
 (0.55792711795825944, 't050101'),
 (0.33256983918283967, 't050102'),
 (nan, 't050103'),
 (0.55459617631555658, 't050104'),
 (nan, 't050199'),
 (nan, 't050201'),
 (0.54244420074549637, 't050202'),
 (0.34270511281017701, 't050203'),
 (nan, 't050205'),
 (nan, 't050301'),
 (nan, 't050302'),
 (0.88100718756231466, 't050303'),
 (nan, 't050304'),
 (nan, 't050305'),
 (0.44422780645004301, 't050399'),
 (0.7013321946936657, 't050401'),
 (0.78279047378259969, 't050403'),
 (nan, 't050404'),
 (nan, 't050499'),
 (nan, 't059999'),
 (0.86023756821302289, 't060101'),
 (0.78279047378259969, 't060102'),
 (nan, 't060103'),
 (nan, 't060199'),
 (0.79291383533640492, 't060201'),
 (nan, 't060202'),
 (0.43295307026439261, 't060301'),
 (0.37916596670108699, 't060302'),
 (nan, 't060303'),
 (0.25359289376539645, 't060399'),
 (0.66482489279650181, 't060401'),
 (nan, 't060403'),
 (nan, 't060499'),
 (0.27292069793186202, 't069999'),
 (0.64119905807524247, 't070101'),
 (0.53719287793520354, 't070102'),
 (0.59445610271634086, 't070103'),
 (0.62475241222176947, 't070104'),
 (0.19138110130888675, 't070105'),
 (nan, 't070199'),
 (nan, 't070201'),
 (nan, 't079999'),
 (nan, 't080101'),
 (0.79243377003386395, 't080201'),
 (0.68590229762720745, 't080202'),
 (nan, 't080203'),
 (nan, 't080301'),
 (nan, 't080399'),
 (0.89803940772657298, 't080401'),
 (nan, 't080402'),
 (0.72963922181309504, 't080403'),
 (0.96921774106689806, 't080501'),
 (nan, 't080502'),
 (nan, 't080601'),
 (nan, 't080602'),
 (0.99999999999999778, 't080701'),
 (nan, 't080702'),
 (nan, 't080799'),
 (0.37349449639058702, 't089999'),
 (nan, 't090101'),
 (0.12768733264312304, 't090103'),
 (nan, 't090104'),
 (nan, 't090199'),
 (nan, 't090201'),
 (nan, 't090202'),
 (0.1564013386619203, 't090301'),
 (nan, 't090401'),
 (0.73233577899484648, 't090501'),
 (0.39781021897809976, 't090502'),
 (nan, 't090599'),
 (nan, 't099999'),
 (nan, 't100101'),
 (0.95777837898148599, 't100102'),
 (0.28556811299590534, 't100103'),
 (nan, 't100199'),
 (nan, 't100201'),
 (nan, 't100304'),
 (nan, 't100305'),
 (nan, 't109999'),
 (0.45396131593050115, 't110101'),
 (0.36292788497275036, 't110201'),
 (nan, 't110299'),
 (0.3959625055822702, 't120101'),
 (nan, 't120199'),
 (0.50559270359034336, 't120201'),
 (0.38600734845226803, 't120202'),
 (nan, 't120299'),
 (0.17490368987382005, 't120301'),
 (0.46242851300179305, 't120302'),
 (0.22432168055994139, 't120303'),
 (0.55892743506534581, 't120304'),
 (0.38670374171157451, 't120305'),
 (0.54540117308008373, 't120306'),
 (0.18843077331978675, 't120307'),
 (0.25099055786690583, 't120308'),
 (0.12667564720137595, 't120309'),
 (nan, 't120310'),
 (0.12232103277432908, 't120311'),
 (0.34114343586473056, 't120312'),
 (0.60479102872509449, 't120313'),
 (0.66671593869123136, 't120399'),
 (0.43968587316958874, 't120401'),
 (0.73180408564607835, 't120402'),
 (0.48297594976794733, 't120403'),
 (nan, 't120404'),
 (0.32317970248264538, 't120499'),
 (0.7063907235029373, 't120501'),
 (nan, 't120502'),
 (nan, 't120503'),
 (0.70619416294333504, 't120504'),
 (nan, 't129999'),
 (nan, 't130101'),
 (nan, 't130102'),
 (0.34532531074331824, 't130103'),
 (0.45205362328544929, 't130104'),
 (0.48442575866562387, 't130105'),
 (0.44399425957550637, 't130106'),
 (0.29549667614295211, 't130107'),
 (nan, 't130108'),
 (0.15046779528776039, 't130109'),
 (nan, 't130110'),
 (0.33389422817599623, 't130112'),
 (nan, 't130113'),
 (0.48922362463164487, 't130114'),
 (nan, 't130115'),
 (0.44399425957550659, 't130116'),
 (nan, 't130117'),
 (nan, 't130118'),
 (nan, 't130119'),
 (nan, 't130120'),
 (0.23292017404704182, 't130122'),
 (0.37916596670108699, 't130124'),
 (0.17791141125049401, 't130125'),
 (0.43942648213219204, 't130126'),
 (0.33256983918283967, 't130127'),
 (0.2481885852531665, 't130128'),
 (nan, 't130129'),
 (0.7063907235029373, 't130130'),
 (0.1901409574439531, 't130131'),
 (0.21443388307213851, 't130132'),
 (0.25359289376539645, 't130133'),
 (0.37808045362934595, 't130134'),
 (nan, 't130136'),
 (0.43968587316958874, 't130199'),
 (0.31895106090169845, 't130202'),
 (0.56110919432459905, 't130203'),
 (nan, 't130204'),
 (nan, 't130205'),
 (nan, 't130206'),
 (nan, 't130210'),
 (0.3311146555029032, 't130213'),
 (nan, 't130214'),
 (nan, 't130215'),
 (nan, 't130216'),
 (nan, 't130218'),
 (nan, 't130219'),
 (nan, 't130222'),
 (0.38173233573526116, 't130224'),
 (nan, 't130225'),
 (nan, 't130226'),
 (nan, 't130227'),
 (nan, 't130229'),
 (nan, 't130231'),
 (nan, 't130299'),
 (0.46452040172102882, 't130301'),
 (nan, 't130302'),
 (nan, 't139999'),
 (0.55706509620496891, 't140101'),
 (0.51900194373283615, 't140102'),
 (nan, 't140103'),
 (nan, 't140104'),
 (0.40308598201298368, 't140105'),
 (nan, 't149999'),
 (0.60479102872509449, 't150101'),
 (0.13195322833118001, 't150102'),
 (nan, 't150103'),
 (0.17484788970539716, 't150104'),
 (nan, 't150105'),
 (0.99999999999999956, 't150106'),
 (nan, 't150199'),
 (0.52524834442161927, 't150201'),
 (0.33056560791270184, 't150202'),
 (nan, 't150203'),
 (0.45323845540191721, 't150204'),
 (nan, 't150299'),
 (0.33762004871352702, 't150301'),
 (0.99999999999999956, 't150302'),
 (0.24779714626401764, 't150401'),
 (0.1999412768010769, 't150402'),
 (nan, 't150499'),
 (0.38670374171157451, 't150501'),
 (nan, 't150601'),
 (0.17484788970539997, 't150602'),
 (nan, 't150701'),
 (0.61257312242047945, 't159999'),
 (0.3293363294329324, 't160101'),
 (0.22857742568136791, 't160102'),
 (nan, 't160103'),
 (nan, 't160104'),
 (0.68590229762720278, 't160105'),
 (nan, 't160106'),
 (nan, 't160107'),
 (nan, 't160108'),
 (0.22010477183664481, 't160199'),
 (0.22153852774849958, 't169999'),
 (0.22153852774849958, 't180101'),
 (0.91695702238488053, 't180201'),
 (0.25656246567760865, 't180202'),
 (0.27763969956901163, 't180203'),
 (nan, 't180204'),
 (nan, 't180205'),
 (0.68194271421445596, 't180206'),
 (0.4358322407363609, 't180207'),
 (0.42293502029228408, 't180208'),
 (0.73180408564607835, 't180209'),
 (nan, 't180299'),
 (0.72148131791656156, 't180301'),
 (nan, 't180302'),
 (nan, 't180303'),
 (0.45144493117483575, 't180304'),
 (0.75351547012313502, 't180305'),
 (0.71307180324041752, 't180401'),
 (nan, 't180402'),
 (nan, 't180403'),
 (0.98125201707742526, 't180404'),
 (0.58601163272716239, 't180405'),
 (nan, 't180499'),
 (0.55792711795825944, 't180501'),
 (0.91695702238488053, 't180502'),
 (0.88100718756231466, 't180503'),
 (0.7013321946936657, 't180504'),
 (nan, 't180599'),
 (0.86023756821302289, 't180601'),
 (0.79291383533638349, 't180602'),
 (0.45205362328544929, 't180603'),
 (0.66482489279650181, 't180604'),
 (nan, 't180699'),
 (0.64119905807524247, 't180701'),
 (0.53719287793520354, 't180702'),
 (0.59445610271634086, 't180703'),
 (0.62475241222176947, 't180704'),
 (nan, 't180799'),
 (nan, 't180801'),
 (0.79243377003386395, 't180802'),
 (nan, 't180803'),
 (0.89803940772657298, 't180804'),
 (0.96921774106689806, 't180805'),
 (0.33066853273463254, 't180806'),
 (0.99999999999999778, 't180807'),
 (0.37349449639058702, 't180899'),
 (0.12768733264312304, 't180901'),
 (nan, 't180902'),
 (0.15640133866192005, 't180903'),
 (0.73233577899484648, 't180905'),
 (nan, 't180999'),
 (0.95777837898148599, 't181001'),
 (nan, 't181002'),
 (nan, 't181099'),
 (0.45396131593050115, 't181101'),
 (0.3959625055822702, 't181201'),
 (0.50559270359034336, 't181202'),
 (0.19299412552383519, 't181203'),
 (0.50414870291943736, 't181204'),
 (0.23307562532014942, 't181205'),
 (nan, 't181299'),
 (0.4439942595755127, 't181301'),
 (0.85700977567315062, 't181302'),
 (nan, 't181399'),
 (0.79291383533640492, 't181401'),
 (0.45323845540191721, 't181501'),
 (0.61257312242047945, 't181599'),
 (0.3293363294329324, 't181601'),
 (nan, 't181699'),
 (nan, 't181801'),
 (nan, 't181899'),
 (0.23659963858018127, 't189999'),
 (0.23659963858018127, 't500101'),
 (0.70619416294333504, 't500103'),
 (0.54158583588126064, 't500105'),
 (0.27577901878917138, 't500106'),
 (0.70619416294333504, 't500107')]

In [62]:
twm.t130126.order(ascending=False)[:5]

t040101    0.439426
t181202    0.354301
t180405    0.292854
t181301    0.261002
t050401    0.236908
Name: t130126, dtype: float64

# Young Men

* Having found my hockey group a little lacking in numbers I next looked at males between the ages of 21 and 29.  An explanation of my methods.
    1. I first trimmed down my dataset by cutting out everyone buut who I wanted, this left me with a group of ~500 men to try and find corralations with.
    1. I spent some time just looking at corralations on an item by item basis, but upon finding a large number of low corralations I wrote a small function to make a list of each item and the top corralation score associated with it.  I then scanned the list and picked out interesting items.
    1. What my list didn't say was the thing my item was corralated with, so I would call the corrlation column of that item and order it so that the largest item was on top.
        * In my example above you can see the full list of corralations of young men. Browsing through I select t130126, which corresponds to playing soccer, and look for what it corralates at roughly a 44% rate to.  The answer is physical care for non-hh children.  The story this tells is likely that many adult men in their twenties who play soccer also coach or at least help out with younger kids.

In [63]:
large_corr = summary.corr()

In [64]:
large_corr = large_corr[large_corr < 1]

In [65]:
max_list = []
min_list = []
for thing in large_corr:
    max_list.append((large_corr[thing].max(), thing))
for thing in large_corr:
    min_list.append((large_corr[thing].min(),thing))

In [66]:
min_list

[(-0.040702110950891282, 'tucaseid'),
 (-0.21317407125315793, 'TUFINLWGT'),
 (-0.36589720303454754, 'TRYHHCHILD'),
 (-0.7930274742951624, 'TEAGE'),
 (-0.1870786246601, 'TESEX'),
 (-0.25084881947559384, 'PEEDUCA'),
 (-0.077560532934139739, 'PTDTRACE'),
 (-0.095728596020625223, 'PEHSPNON'),
 (-0.097185208631698911, 'GTMETSTA'),
 (-0.97744145655114512, 'TELFS'),
 (-0.97744145655114512, 'TEMJOT'),
 (-0.94982770124444804, 'TRDPFTPT'),
 (-0.7930274742951624, 'TESCHENR'),
 (-0.39885661504031833, 'TESCHLVL'),
 (-0.944597380593035, 'TRSPPRES'),
 (-0.944597380593035, 'TESPEMPNOT'),
 (-0.59448447711128527, 'TRERNWA'),
 (-0.46501979133778898, 'TRCHILDNUM'),
 (-0.64854768588741118, 'TRSPFTPT'),
 (-0.82810528932767369, 'TEHRUSLT'),
 (-0.21048286696143564, 'TUDIARYDAY'),
 (-0.042702145380036791, 'TRHOLIDAY'),
 (-0.065468771013847182, 'TRTEC'),
 (-0.3140098039662706, 'TRTHH'),
 (-0.3324652114133419, 't010101'),
 (-0.13067100248771912, 't010102'),
 (-0.19506626986846315, 't010201'),
 (-0.018538498894537365, 't010299'),
 (-0.080859643965896746, 't010301'),
 (-0.016068533072757005, 't010399'),
 (-0.022151270623370578, 't010401'),
 (-0.011680098854438386, 't010501'),
 (-0.014445184109632794, 't019999'),
 (-0.17885337321601072, 't020101'),
 (-0.12990411606829605, 't020102'),
 (-0.058609887820033894, 't020103'),
 (-0.076613728016003732, 't020104'),
 (-0.01211224724939728, 't020199'),
 (-0.17299068862378569, 't020201'),
 (-0.049540507740072556, 't020202'),
 (-0.12193138890842727, 't020203'),
 (-0.044099068433818771, 't020301'),
 (-0.024062185154425732, 't020302'),
 (-0.030558910725512332, 't020303'),
 (-0.015983059190018564, 't020399'),
 (-0.050947265800660946, 't020401'),
 (-0.055503182920427017, 't020402'),
 (-0.018911826133191277, 't020499'),
 (-0.10953831802737206, 't020501'),
 (-0.022882046778623429, 't020502'),
 (-0.011592714364535829, 't020599'),
 (-0.066296428237650057, 't020601'),
 (-0.061283804061939395, 't020602'),
 (-0.013781495694391077, 't020699'),
 (-0.087821209805812775, 't020701'),
 (-0.021569497157772448, 't020799'),
 (-0.044388873402811356, 't020801'),
 (-0.057813406804469454, 't020901'),
 (-0.073748801496877264, 't020902'),
 (-0.086716944181457908, 't020903'),
 (-0.060378955217181576, 't020904'),
 (-0.020253934952290453, 't020905'),
 (-0.015801149781777855, 't020999'),
 (-0.016946027821837979, 't029999'),
 (-0.22981664090213874, 't030101'),
 (-0.086849479819120542, 't030102'),
 (-0.16279379290792911, 't030103'),
 (-0.015867190224354739, 't030104'),
 (-0.043126650479956098, 't030105'),
 (-0.046923167479819283, 't030106'),
 (-0.040328074947371492, 't030108'),
 (-0.072383757090116616, 't030109'),
 (-0.055743977011839189, 't030110'),
 (-0.047848132079886113, 't030111'),
 (-0.1239881718476589, 't030112'),
 (-0.020307726332549701, 't030199'),
 (-0.081781924355938715, 't030201'),
 (-0.029095742359444093, 't030202'),
 (-0.024764291793230635, 't030203'),
 (-0.016611998113493173, 't030299'),
 (-0.0249647117172037, 't030301'),
 (-0.031789294138224372, 't030302'),
 (-0.014793828515837954, 't030303'),
 (-0.015845483811474322, 't030399'),
 (-0.047345669376352546, 't030401'),
 (-0.035602500014413598, 't030402'),
 (-0.023591622171241777, 't030403'),
 (-0.025738437180986635, 't030404'),
 (-0.030093683650563141, 't030405'),
 (-0.029825761735048927, 't030499'),
 (-0.025462220416553289, 't030501'),
 (-0.014965390961793463, 't030502'),
 (-0.060969335468512305, 't030503'),
 (-0.022422889509052343, 't030504'),
 (-0.015745943255491019, 't030599'),
 (-0.011680098854439654, 't039999'),
 (-0.03643514139696994, 't040101'),
 (-0.019365977156847607, 't040102'),
 (-0.04632881953536707, 't040103'),
 (-0.018761690398073731, 't040104'),
 (-0.020938885470475274, 't040105'),
 (-0.035336017317819296, 't040106'),
 (-0.017289837882090552, 't040108'),
 (-0.028280771711104359, 't040109'),
 (-0.018935598991244161, 't040110'),
 (-0.030790165621132431, 't040111'),
 (-0.042361731748793374, 't040112'),
 (-0.015630412523090165, 't040199'),
 (-0.027558147675598142, 't040201'),
 (-0.0094884028961923321, 't040203'),
 (-0.016395994177432264, 't040301'),
 (-0.012719313732222404, 't040302'),
 (-0.011506612218561559, 't040303'),
 (-0.022436001984949827, 't040401'),
 (-0.016858027921708874, 't040402'),
 (-0.017144613314115344, 't040403'),
 (-0.022127059380972442, 't040404'),
 (-0.01579700783207694, 't040405'),
 (-0.027577297234674725, 't040501'),
 (-0.042351248544479247, 't040502'),
 (-0.021523202467311119, 't040503'),
 (-0.038496353651875502, 't040504'),
 (-0.014620290597269407, 't040505'),
 (-0.028204408365308662, 't040506'),
 (-0.031028129528036016, 't040507'),
 (-0.021921734896608935, 't040508'),
 (-0.019842310389941751, 't040599'),
 (-0.01125652014428892, 't049999'),
 (-0.51946194338213436, 't050101'),
 (-0.087827319649951469, 't050102'),
 (-0.017914727124605272, 't050103'),
 (-0.04587931980214674, 't050104'),
 (-0.011206239534589582, 't050199'),
 (-0.013810866897643933, 't050201'),
 (-0.044831792142662689, 't050202'),
 (-0.014573574710352708, 't050203'),
 (-0.011680098854437857, 't050205'),
 (-0.019693888175051182, 't050301'),
 (-0.014544102760942661, 't050302'),
 (-0.031477446851436899, 't050303'),
 (-0.01623290955671854, 't050304'),
 (-0.010159175293416317, 't050305'),
 (-0.019944578636194536, 't050399'),
 (-0.058499280127473637, 't050401'),
 (-0.023028531493234458, 't050403'),
 (-0.017758153445760622, 't050404'),
 (-0.022220416684570757, 't050499'),
 (-0.010601212262272602, 't059999'),
 (-0.211144955057607, 't060101'),
 (-0.020491127720567767, 't060102'),
 (-0.03949845491898929, 't060103'),
 (-0.033782526633579016, 't060199'),
 (-0.021250560858579032, 't060201'),
 (-0.033468502341544054, 't060202'),
 (-0.17512732832033603, 't060301'),
 (-0.045818781158612078, 't060302'),
 (-0.012518204588234464, 't060303'),
 (-0.033086044874145522, 't060399'),
 (-0.041207843790352292, 't060401'),
 (-0.017026143419829085, 't060403'),
 (-0.0094584830558788746, 't060499'),
 (-0.029119343989149858, 't069999'),
 (-0.12598869720601813, 't070101'),
 (-0.037994171505844082, 't070102'),
 (-0.071271113639022152, 't070103'),
 (-0.1414855740514199, 't070104'),
 (-0.015163559089601401, 't070105'),
 (-0.0094884028961923304, 't070199'),
 (-0.013715079297633426, 't070201'),
 (-0.014472235269830642, 't079999'),
 (-0.020108482295452978, 't080101'),
 (-0.023932886328967819, 't080201'),
 (-0.017094292986097423, 't080202'),
 (-0.014445180771404225, 't080203'),
 (-0.014631519443598855, 't080301'),
 (-0.011256520144288476, 't080399'),
 (-0.060931720735520438, 't080401'),
 (-0.03549418516822448, 't080402'),
 (-0.031985967871229232, 't080403'),
 (-0.027276805591947735, 't080501'),
 (-0.013404345449098068, 't080502'),
 (-0.016487889205713233, 't080601'),
 (-0.011680098854439035, 't080602'),
 (-0.018309479368126626, 't080701'),
 (-0.015919810199509946, 't080702'),
 (-0.012041430432298706, 't080799'),
 (-0.020154552348588935, 't089999'),
 (-0.022305777115671267, 't090101'),
 (-0.016572577601640628, 't090103'),
 (-0.0094884028961923078, 't090104'),
 (-0.011256520144289744, 't090199'),
 (-0.015388683614948821, 't090201'),
 (-0.013907344821618019, 't090202'),
 (-0.02068637263517208, 't090301'),
 (-0.012913627954220372, 't090401'),
 (-0.027642580418653223, 't090501'),
 (-0.016387329135488207, 't090502'),
 (-0.010866135280552192, 't090599'),
 (-0.017151543828575436, 't099999'),
 (-0.016939550532532582, 't100101'),
 (-0.019141713396720397, 't100102'),
 (-0.011433671851841208, 't100103'),
 (-0.020778410810618035, 't100199'),
 (-0.015461520800579996, 't100201'),
 (-0.013004484561442551, 't100304'),
 (-0.010136335478066512, 't100305'),
 (-0.0083064583170451272, 't109999'),
 (-0.11385201929426207, 't110101'),
 (-0.032379035915344856, 't110201'),
 (-0.011680098854440869, 't110299'),
 (-0.15914600514000815, 't120101'),
 (-0.015688298925497637, 't120199'),
 (-0.062926825758260238, 't120201'),
 (-0.02086320611972918, 't120202'),
 (-0.011206644218030765, 't120299'),
 (-0.12020235712156711, 't120301'),
 (-0.025801469081546211, 't120302'),
 (-0.31384574516065822, 't120303'),
 (-0.035196056055408979, 't120304'),
 (-0.049265147932138674, 't120305'),
 (-0.051278764405523772, 't120306'),
 (-0.086258049746262777, 't120307'),
 (-0.071103034998723696, 't120308'),
 (-0.04754796495870265, 't120309'),
 (-0.010435661707970322, 't120310'),
 (-0.022653934244139293, 't120311'),
 (-0.19015530200855008, 't120312'),
 (-0.020926526383369157, 't120313'),
 (-0.014648425063069707, 't120399'),
 (-0.044705076354390569, 't120401'),
 (-0.029808898124704851, 't120402'),
 (-0.040945010600777168, 't120403'),
 (-0.034979073294795833, 't120404'),
 (-0.041526942201186655, 't120499'),
 (-0.019363928752164073, 't120501'),
 (-0.0094884028961923304, 't120502'),
 (-0.014698268873522153, 't120503'),
 (-0.020156280104835621, 't120504'),
 (-0.012518204588231305, 't129999'),
 (-0.018941922767894536, 't130101'),
 (-0.031592052878847164, 't130102'),
 (-0.076488385877249807, 't130103'),
 (-0.031160612184754004, 't130104'),
 (-0.024359521710886654, 't130105'),
 (-0.022238993862367336, 't130106'),
 (-0.027113557680264806, 't130107'),
 (-0.014914877777959764, 't130108'),
 (-0.019250766876725618, 't130109'),
 (-0.025081294749784662, 't130110'),
 (-0.048130150970342345, 't130112'),
 (-0.041325304974401303, 't130113'),
 (-0.055392043891197534, 't130114'),
 (-0.014430472173950904, 't130115'),
 (-0.025110941850342454, 't130116'),
 (-0.031890336493418589, 't130117'),
 (-0.046006724954751756, 't130118'),
 (-0.019171765929382845, 't130119'),
 (-0.028453823753675337, 't130120'),
 (-0.029393713520302744, 't130122'),
 (-0.058879766292710467, 't130124'),
 (-0.029294909749513275, 't130125'),
 (-0.054467187280365627, 't130126'),
 (-0.030337430512423498, 't130127'),
 (-0.022385665815299945, 't130128'),
 (-0.018049716437191873, 't130129'),
 (-0.016613708472198778, 't130130'),
 (-0.05432438689986737, 't130131'),
 (-0.039800395904608078, 't130132'),
 (-0.059406562805249398, 't130133'),
 (-0.041125178333072082, 't130134'),
 (-0.027285035731131363, 't130136'),
 (-0.035438947745487594, 't130199'),
 (-0.020658110788104582, 't130202'),
 (-0.024924051326648326, 't130203'),
 (-0.011114891311432316, 't130204'),
 (-0.014894562855811375, 't130205'),
 (-0.015468740672300809, 't130206'),
 (-0.010930072309586274, 't130210'),
 (-0.019585255402495824, 't130213'),
 (-0.011680098854439856, 't130214'),
 (-0.016591961618374139, 't130215'),
 (-0.013604344887686744, 't130216'),
 (-0.014238865410623436, 't130218'),
 (-0.014445193136202994, 't130219'),
 (-0.018174296542697109, 't130222'),
 (-0.015184163077417422, 't130224'),
 (-0.014476664541904874, 't130225'),
 (-0.014345168293286701, 't130226'),
 (-0.016442375787838664, 't130227'),
 (-0.021585085638900624, 't130229'),
 (-0.010277398180550689, 't130231'),
 (-0.020980592743766544, 't130299'),
 (-0.020973233883003366, 't130301'),
 (-0.014131563080090533, 't130302'),
 (-0.0092651543881386855, 't139999'),
 (-0.21048286696143564, 't140101'),
 (-0.076219202361913929, 't140102'),
 (-0.040572488377226865, 't140103'),
 (-0.011680098854440648, 't140104'),
 (-0.04375583506853354, 't140105'),
 (-0.015854419613330957, 't149999'),
 (-0.035869243865609739, 't150101'),
 (-0.030614990517295205, 't150102'),
 (-0.025632712911619466, 't150103'),
 (-0.019137765615602119, 't150104'),
 (-0.02303068925151076, 't150105'),
 (-0.023813025024247963, 't150106'),
 (-0.023356057370758763, 't150199'),
 (-0.034569184058794528, 't150201'),
 (-0.022686543942914413, 't150202'),
 (-0.019692241856982883, 't150203'),
 (-0.035053701514038763, 't150204'),
 (-0.03685826004829644, 't150299'),
 (-0.011590593683046, 't150301'),
 (-0.023290903866360999, 't150302'),
 (-0.022443744899038026, 't150401'),
 (-0.023885727543461795, 't150402'),
 (-0.018682960749427848, 't150499'),
 (-0.03819256804624812, 't150501'),
 (-0.015936784809268075, 't150601'),
 (-0.014758890986532157, 't150602'),
 (-0.014326670947666422, 't150701'),
 (-0.030584852629747389, 't159999'),
 (-0.061648196363051591, 't160101'),
 (-0.10196804163631089, 't160102'),
 (-0.018462691780404678, 't160103'),
 (-0.015080305400180795, 't160104'),
 (-0.025790826933908457, 't160105'),
 (-0.013785968567116563, 't160106'),
 (-0.010055557827056319, 't160107'),
 (-0.027213614132308037, 't160108'),
 (-0.051044103173399809, 't160199'),
 (-0.017610400875905749, 't169999'),
 (-0.0336283245988519, 't180101'),
 (-0.022276338993632426, 't180201'),
 (-0.033202483621868582, 't180202'),
 (-0.018227408552358621, 't180203'),
 (-0.014325606235238394, 't180204'),
 (-0.015510789429065286, 't180205'),
 (-0.019315647335661778, 't180206'),
 (-0.02620575847225191, 't180207'),
 (-0.013427715483707558, 't180208'),
 (-0.037524353489802736, 't180209'),
 (-0.011785840319957162, 't180299'),
 (-0.15095316297344957, 't180301'),
 (-0.026361997513921057, 't180302'),
 (-0.028192037975007071, 't180303'),
 (-0.029530004520925815, 't180304'),
 (-0.0485307630289755, 't180305'),
 (-0.039935301337262315, 't180401'),
 (-0.011945937774002807, 't180402'),
 (-0.018479103559366068, 't180403'),
 (-0.028037719747859527, 't180404'),
 (-0.041138541017869755, 't180405'),
 (-0.014016660967464626, 't180499'),
 (-0.33095885338297837, 't180501'),
 (-0.027548796575811982, 't180502'),
 (-0.021572131230618963, 't180503'),
 (-0.037834674438126062, 't180504'),
 (-0.010277638221657137, 't180599'),
 (-0.13171443976685862, 't180601'),
 (-0.036572006306643139, 't180602'),
 (-0.07129251339584261, 't180603'),
 (-0.010882320931978696, 't180604'),
 (-0.027388627071671098, 't180699'),
 (-0.072182584729661423, 't180701'),
 (-0.039078815427647788, 't180702'),
 (-0.051033900788018179, 't180703'),
 (-0.11452237980048276, 't180704'),
 (-0.014703365890167634, 't180799'),
 (-0.016251875266017089, 't180801'),
 (-0.023801401776328491, 't180802'),
 (-0.014596967206569009, 't180803'),
 (-0.058738633761156116, 't180804'),
 (-0.025699397189115344, 't180805'),
 (-0.015004483691378323, 't180806'),
 (-0.019775392031953585, 't180807'),
 (-0.020974776744402263, 't180899'),
 (-0.018320788563179428, 't180901'),
 (-0.011751766665299456, 't180902'),
 (-0.016991186738096551, 't180903'),
 (-0.02386880063037574, 't180905'),
 (-0.013131202859525697, 't180999'),
 (-0.019981714750675058, 't181001'),
 (-0.013266318601737324, 't181002'),
 (-0.012068099079171925, 't181099'),
 (-0.10503176383719913, 't181101'),
 (-0.086737124911760832, 't181201'),
 (-0.044218857112371654, 't181202'),
 (-0.041855213204213239, 't181203'),
 (-0.05802172259502205, 't181204'),
 (-0.037247051969981029, 't181205'),
 (-0.018251394403987039, 't181299'),
 (-0.065216608858849057, 't181301'),
 (-0.034923949532786228, 't181302'),
 (-0.012009453534209544, 't181399'),
 (-0.11495824974648522, 't181401'),
 (-0.049225945637604678, 't181501'),
 (-0.022224212113616117, 't181599'),
 (-0.021111010792062863, 't181601'),
 (-0.015573522360831695, 't181699'),
 (-0.016473882160973643, 't181801'),
 (-0.024905942146257468, 't181899'),
 (-0.033157735903870861, 't189999'),
 (-0.06081052073768483, 't500101'),
 (-0.01798541223129305, 't500103'),
 (-0.020177996545929739, 't500105'),
 (-0.079133793288994642, 't500106'),
 (-0.020052416250969176, 't500107')]

In [68]:
large_corr.t010101.order(ascending=True)[:5]

t050101    -0.332465
t180501    -0.216202
TEHRUSLT   -0.157873
PEEDUCA    -0.146713
TRERNWA    -0.134315
Name: t010101, dtype: float64

# Negative corralation

* Having looked at two much smaller groups and since I had a tool to find top corralations in a dataset I decided to take a tilt at the full dataset.
* One thing I had missed on my first pass with my formula, however, was it was only looking at the largest corralations, and since negative corralation is just as important I added a second list to examine those.  Above I've included a rather poignant one.
    1. I pulled out the minimum corralations for the data set and found that t010101, or time spent sleeping, had and found a decent negative corralation (33%).
    1. I looked up what that item was and found t050101, time spent working.  People who work longer hours tend to sleep less, which is very interesting to me.  Some thoughts at to why this might be.
        1. People want or expect a set amount of non-work time in their day and will sacrifice sleep to get it.
        1. People work so much they don't actually have enough time to get a full nights sleep.